.header{
    text-align: start;
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reference{
    width: 10%
}
.date-updated, .operator, .status{
    width: 15%;
}

.description{
    width: 25%;
}